body {
	font-family: 'gothammedium' !important;
 }

.container-fluid {
	background-image: url('../assets/img/background.png');
	background-size: cover;
 }

.btn-blue-hover:hover {
	background-color: #001A5F !important;
	color: #ffffff;
}

.hover-blue:hover {
  color: #001A5F !important;
}

.btn-rounded {
	border-radius: 16px;
	border-width: 1px;
	border-color: #666666;
	padding-right: 30px;
	padding-left: 30px;
}

.btn-ok {
	background-color: #666666;
	color: #ffffff;
}

.background-gray {
	background-color: #E4E4E4;
}

.modal-title-blue {
	color: #001A5F;
	font-weight: bold;
}

.modal-header {
	border: none;
}

.modal-body {
	padding-top: 0px;
	padding-bottom: 0pc;
}

.icon-password {
	background-image: url('../assets/img/icons/password.svg');
	background-repeat: no-repeat;
	height: 45px;
	width: 45px;
}

.icon-password:hover {
  background-image: url('../assets/img/icons/password-selected.svg');
}

.icon-about {
	background-image: url('../assets/img/icons/about.svg');
	background-repeat: no-repeat;
	height: 45px;
	width: 45px;
}

.icon-about:hover {
  background-image: url('../assets/img/icons/about-selected.svg');
}

.icon-log-out {
	background-image: url('../assets/img/icons/log-out.svg');
	background-repeat: no-repeat;
	height: 45px;
	width: 45px;
}

.icon-log-out:hover {
  background-image: url('../assets/img/icons/log-out-selected.svg');
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
	min-width: 175px;
  z-index: 1;
	right: -70px
}

.dropdown:hover .dropdown-content {
	display: block;
}
