.edit {
  background-image: url('../assets/img/icons/edit.svg');
  background-repeat: no-repeat;
  height: 21pt;
}

.edit:hover {
  background-image: url('../assets/img/icons/edit-selected.svg');
}

.delete {
  background-image: url('../assets/img/icons/trash.svg');
  background-repeat: no-repeat;
  height: 21pt;
}

.delete:hover {
  background-image: url('../assets/img/icons/trash-selected.svg');
}

.user-card {
  background-image: url('../assets/img/icons/card.svg');
  background-repeat: no-repeat;
  height: 21pt;
}

.user-card:hover {
  background-image: url('../assets/img/icons/card-selected.svg');
}